-var title = "Gulp New Project"

-var description = "site description"

-var author = "site author"

-var keywords = "site keywords"

//- NOTE: if you want to change these names you need also to change it in the gulpfile.js 
- var cssFile = "bundle.css"
- var jsFile = "bundle.js"