//- include variables
include ../globals/variables

<!DOCTYPE html>
html(lang="en")
	head
		//- include head
		include ../partials/head
	body

		//- you can remove this content 
		h1 #{title}
		p A basic template to develope your website using #[a(href="https://gulpjs.com/") GulpJs] & #[a(href="https://pugjs.org/") PugJs] & #[a(hre="https://sass-lang.com/") Sass/Scss] with live reload & build scripts

		h3
			b
				a(href="https://github.com/mohssineAboutaj/gulp-new-project#readme") Learn how to use
		//- you can remove this content 


		//- include footer
		include ../partials/footer